{% extends '../back_layout/master.html' %}
{% load static %}
{% block title %} bkweb首頁 {% endblock %}


{% block body %}
<script src="{% static 'js/index_img.js' %}"></script>
<div class="row container">

    <form action="{% url 'image:patch_img_home' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for img in imgs %}
        <div class="img_box col s12 m3">

            <div class="col s12">
                <img class="responsive-img" src="{% static '' %}{{'images/'}}/{{img.path}}">
            </div>

            <div class="col s12">
                <label>
                    <input class="with-gap" name="index_img" url="{% url 'image:check_img_home' img.id %}" type="radio"
                        value="{{ img.id }}" {% if img.index  %} checked {% endif %}>
                    <span>index</span>
                </label>
            </div>

        </div>
        {% endfor %}
        <button class="col s12 btn waves-effect waves-light disabled" type="submit">存檔
            <i class="fas fa-save"></i>
        </button>
    </form>

    {% endblock %}