<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <title>Document</title>

</head>

<body>
    <div class="container">
        <div>{{restaurant.name}}的評價</div>
        {% if restaurant.comment_set.all %}
        共有 {{restaurant.comment_set.all | length}} 條評價

        <div class="table-hover">
            <table class="table">
                <thead>
                    <tr>
                        <th>留言者</th>
                        <th>時間</th>
                        <th>評價</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in restaurant.comment_set.all %}
                    <tr>
                        <td>{{c.visitor}}</a></td>
                        <td>{{c.publish_date}}</td>
                        <td>{{c.content}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}


        {% for e in errors %}
        <div class="alert alert-danger" role="alert">
            {{e}}
        </div>
        {% endfor %}

        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% for field in f %}
                <!-- 移除冒號 -->
                <label for="{{ field.id_for_label }}">{{field.label}}</label>
                {{ field }}
                <!-- 錯誤訊息紅字顯示 -->
                    {% if field.errors.as_text %}
                    <div class="alert alert-danger" role="alert">
                        {{ field.errors.as_text }}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>

</html>