{% extends '../layout/master.html' %}
{% load static %}
{% block title %} myapp首頁 {% endblock %}


{% block body %}

<div class="container body">

    <form id="father-form" action="" method="post">
        {% csrf_token %}

        {{form}}
        <hr>

        {{ ff.management_form }}
        {{ ff.non_form_errors }}

        <div id="formset-wrapper">
            <div class="items">
                {% for fform in ff.forms %}

                <div class="item" id="id_{{ ff.prefix }}">
                    {{ fform.as_p }}
                </div>
                {% endfor %}
            </div>
            <!-- <a href="#" id="add-item">Add row</a> -->
        </div>



        <div class="row FormBtn">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>


    </form>
</div>

<script src="{% static 'js/jquery.formset.js' %}"></script>

<script>
    $('#formset-wrapper').formset({
        templateId: '__TEMPLATE_ID__',
        prefix: 'form',
        deleteButtonClassname: 'delete-row'
    });
</script>




{% endblock %}