{% extends '../layout/master.html' %}
{% load static %}
{% block title %} myapp首頁 {% endblock %}


{% block body %}

<div class="container body">

    <form id="father-form" action="" method="post">
            {% csrf_token %}
        {{form}}
        <table id="id_forms_table" border="0" cellpadding="0" cellspacing="5">
            <thead>
                <tr>
                    <th scope="col">名稱</th>
                    <th scope="col">價格</th>

                </tr>
            </thead>
            <tbody>
                {% for fform in ff.forms %}
                <tr id="{{ form.prefix }}-row" class="dynamic-form">
                    <td{% if forloop.first %} class="hidden" {% endif %}>{{ fform.operand }}</td>
                        <td>{{ fform.food_name }}</td>
                        <td>contains {{ fform.price }}</td>
                        <td{% if forloop.first %} class="hidden" {% endif %}>
                            <a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row"></a>
                            </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><a href="javascript:void(0)" class="add-row">add property</a></td>
                </tr>
            </tbody>
        </table>
        {{ ff.management_form }}
        <div>
            <input type="submit" value=" Find &raquo; " />
        </div>


    </form>
</div>

<script src="{% static 'js/jquery.formset.js' %}"></script>

<script>
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function addForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        var row = $('.dynamic-form:first').clone(true).get(0);
        $(row).removeAttr('id').insertAfter($('.dynamic-form:last')).children('.hidden').removeClass('hidden');
        $(row).children().not(':last').children().each(function () {
            updateElementIndex(this, prefix, formCount);
            $(this).val('');
        });
        $(row).find('.delete-row').click(function () {
            deleteForm(this, prefix);
        });
        $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
        return false;
    }

    function deleteForm(btn, prefix) {
        $(btn).parents('.dynamic-form').remove();
        var forms = $('.dynamic-form');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i = 0, formCount = forms.length; i < formCount; i++) {
            $(forms.get(i)).children().not(':last').children().each(function () {
                updateElementIndex(this, prefix, i);
            });
        }
        return false;
    }

    $(function () {
        $('.add-row').click(function() {
    	    return addForm(this, 'form');
        });
        $('.delete-row').click(function() {
    	    return deleteForm(this, 'form');
        })
    })
</script>




{% endblock %}