<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2>{{restaurant.name}}</h2>
        {% if restaurant.food_set.all %}
        <div>本餐廳共有{{ restaurant.food_set.all|length }}道菜</div>
        {% for food in restaurant.food_set.all %}
        <ul>
            <li>菜名{{food.name}}</li>
            <li>價格{{food.price}}</li>
            <li>評價{{food.comment}}</li>
            <li>辣度
                {% if food.is_spicy %}
                辣
                {% else %}
                不辣
                {% endif %}
            </li>
        </ul>
        {% endfor %}
        {% endif %}
    </div>

</body>

</html>