{% extends '../layout/master.html' %}
{% load static %}
{% block title %} myapp首頁 {% endblock %}


{% block body %}
<script src="{% static 'js/test.js' %}"></script>
<div class="row container login">
    <form method="post" action="" class="col s12 loginform" enctype="multipart/form-data">

        {% csrf_token %}

        {% for field in form %}
        <div class="row">
            <div class="input-field col s12">
                <label for="{{ field.id_for_label }}"><span class="member">{{field.label}}</span></label>
                {{ field }}
            </div>
        </div>
        {% if field.errors%}
        <div class="alert alert-danger" role="alert">
            {{ field.errors.as_text }}
        </div>
        {% endif %}
        {% endfor %}

        {% if form.non_field_errors %}
        <ul class='form-errors'>
            {% for error in form.non_field_errors %}
            <li class="red-text">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="row">
            <div class="col s6">
                <button class="btn waves-effect waves-light test" type="submit">登入
                    <i class="material-icons right">send</i>
                </button>
                <button class="btn waves-effect waves-light test" type="button">註冊
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <!-- Switch -->
            <div class="switch col s6">
                <p>記住我</p>
                <label>
                    Off
                    <input name='remember' type="checkbox">
                    <span class="lever"></span>
                    On
                </label>
            </div>
        </div>
    </form>

</div>
{% endblock %}